.pageContainer {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  color: #333;

  .pageTitle {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .pageContainer {
    .header {
      display: none;
    }
    .listContainer {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
    }
  }
}

@media (max-width: 380px) {
  .pageContainer {
    padding: 0.5rem;
  }
}
